@charset "UTF-8"; /* CONFIGURAÇÃO PARA CARACTERES E ACENTUAÇÃO */

* { /* CONFIGURAÇÃO GLOBAL PARA O SITE TODO */
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

html , body { 
    height: 100vh; /* ALTURA TOTAL DO NAVEGADOR */
    width: 100vw; /* LARGURA TOTAL DO NAVEGADOR */
    background-color: rgb(237, 187, 187);
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /* TAMANHO DE FUNDO */
    background-attachment: fixed; /* ANEXO DE FUNDO FIXO */
}

main {  /* CONTEÚDO PRINCIPAL DO SITE */
    height: 100vh; /* ALTURA DO CONTEÚDO PRINCIPAL */
    position: relative; 
}

section#telefone { /* SEÇÃO + ID */
    position: absolute;
    top: 50%; /* CIMA */
    left: 50%; /* ESQUERDA */
    transform: translate(-50% , -50%); /* MENOS METADE ESQUERDA , MENIS METADO PRA CIMA / CENTRALIZAR  */


    height: 627px; /* ALTURA */
    width: 311px;  /* LARGURA */ 
    background: url(../imagens/frame-iphone.png) no-repeat;
    
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.684);
    transform: translate(-3px , -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.689);
    transition: transform .5s , border .5s;
}